.profile,
.change-password {
  background: var(--nebula);
}
.profile,
.change-password {
  .info-container {
    margin: 1em 0;

    .bold {
      width: 120px;
      display: inline-block;
    }
  }

  .form {
    width: 700px;
    padding: 2em 3em;

    .error-input-message {
      height: 1.5em;
    }

    .error-message,
    .success-message {
      text-align: center;
      margin-bottom: 1em;
      height: 1em;
    }
  }
}

.change-password {
  .form {
    margin-top: 1em;
    width: 1200px;
    flex-direction: row;

    form {
      width: 300px;
    }

    .password-requirements {
      margin-left: 1em;
    }
  }
}
