.trending {
  h1 {
    margin-bottom: 0.5em;
  }

  .county-view {
    margin-bottom: 1em;
  }

  .home-price-form-container {
    display: flex;
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 1em;
    .selects-container {
      width: 75%;
      .form-row {
        display: flex;
        margin-bottom: 1em;
        .custom-select-container {
          margin-right: 1em;
        }
      }
    }
    .submit-container {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
    }
  }
}

.chart {
  .chart-title {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
