.value-product {
  .property-info {
    .property-info-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .icon-row {
      display: flex;
      align-items: center;
      margin-top: 1em;
    }
    .icon {
      cursor: pointer;
      margin-right: 1em;
    }
  }
  .market-analysis {
    .analytics-container {
      margin: 1em 0;
      .analytics {
        display: inline-block;
        .label {
          font-weight: bold;
          margin-right: 5px;
        }
      }
    }
    .table-spacer {
      margin-bottom: 30px;
    }
  }
  .property-tabs {
    margin-top: 2em;
    .tab-container {
      margin-top: 2em;
      margin-bottom: 0;
      width: 100%;
      padding-top: 1em;
      border-top: 1px solid var(--geyser);
    }
  }

  .export-pdf-form {
    width: 100%;
    text-align: left;
    padding-bottom: 1em;
    .section-title {
      margin: 1em 0;
    }
    .radio,
    .checkbox-container {
      margin-left: 20px;
      margin-bottom: 10px;
    }

    .radio {
      &.section-title {
        margin: 1em 0;
        font-size: 1.17em;
        font-weight: bold;
      }
    }

    .unchecked-manual-comparables {
      .checkbox-container {
        margin-top: 1em;
        margin-left: 0;
        margin: 2em 0;
        label {
          font-weight: bold;
        }
      }
    }
  }

  .warning-header {
    color: red;
  }
  .median-sale-price {
    margin-top: 2em;
    display: flex;
    .table-wrapper {
      flex: 1;
      &.two {
        margin: 0 2px;
      }
    }
    .tbody {
      max-height: 100%;
    }
  }
}
