.value-products {
  position: relative;
  .new-order-container {
    .product-pool-selection {
      display: flex;
      align-items: center;
      width: 100%;
      background-color: var(--nebula);
      position: absolute;
      left: 0;
      right: 0;
      padding: 1em 2em;

      .custom-select-container {
        margin-right: 1em;
        .transparent__control {
          background-color: transparent;
        }
      }
      .input-group {
        input {
          background-color: transparent;
        }
      }
      .custom-select-container,
      .input-group {
        max-width: 350px;
      }
    }
  }

  .search-orders-container {
    display: flex;
    flex-direction: column;
    .btn-row {
      width: 100%;
      display: flex;
      margin-bottom: 1em;
      .btn-icon {
        margin-right: 1em;
      }
    }
    .form {
      padding: 0;
      .form-submit {
        align-self: flex-start;
      }
    }
    .filters-container {
      margin: 1em 0 1em 0;
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      .custom-select-container,
      .input-group {
        margin-right: 1em;
        width: 250px;
      }
      .custom-select-container {
        position: relative;
        bottom: 5px;
      }
      :nth-child(5) {
        width: 500px;
      }
    }
    .advanced-filters-container {
      margin: 0em -1em 1em -1em;
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      background-color: var(--light-gray);
      padding: 1em;
      .custom-select-container,
      .input-group {
        margin-right: 1em;
        width: 250px;
      }
      .custom-select-container {
        position: relative;
        bottom: 5px;
        margin: 10px 20px 10px 0;
        .transparent__control {
          background-color: transparent;
        }
      }

      .select-pools,
      .reconcile-status {
        width: 500px;
        margin: 1em 0;
      }
      .input-group {
        input {
          background-color: transparent;
        }
      }
      .full-width-row {
        flex: 1 100%;
        .custom-select-container {
          margin: 2em 0;
        }
      }
    }
    #save-search-modal {
      .form {
        padding: 2em 3em;
      }
      .search-container {
        margin: 1em 0;
        width: 100%;
        .search-name {
          background: var(--prussian-blue);
          color: var(--white);
          padding: 10px;
        }
        .row {
          display: flex;
          align-items: center;
          margin: 0.5em 0;
          padding: 0 10px;
          .icon {
            margin-left: 10px;
            margin-bottom: 15px;
            cursor: pointer;
          }
          .input-group {
            margin: 0;
            input {
              padding: 0;
              margin: 0;
            }
            .input-label {
              display: none;
            }
          }
          .radio {
            label {
              margin-bottom: 15px;
            }
          }
          .radio-input {
            display: flex;
            align-items: center;
            width: 100%;
            &.inactive {
              .input-group {
                opacity: 0.5;
              }
            }
            &.short {
              margin-right: 34px;
            }
          }
        }
      }
    }
  }
}

.value-product-property {
  .property-info {
    .property-info-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .icon-row {
      display: flex;
      align-items: center;
      margin-top: 1em;
    }
    .icon {
      cursor: pointer;
      margin-right: 1em;
    }
  }
  .market-analysis {
    .analytics-container {
      margin: 1em 0;
      .analytics {
        display: inline-block;
        .label {
          font-weight: bold;
          margin-right: 5px;
        }
      }
    }
    .table-spacer {
      margin-bottom: 30px;
    }
  }
  .property-tabs {
    margin-top: 2em;
    .tab-container {
      margin-top: 2em;
      margin-bottom: 0;
      width: 100%;
      padding-top: 1em;
      border-top: 1px solid var(--geyser);
    }
  }

  .export-pdf-form {
    width: 100%;
    text-align: left;
    padding-bottom: 1em;
    .section-title {
      margin: 1em 0;
    }
    .radio,
    .checkbox-container {
      margin-left: 20px;
      margin-bottom: 10px;
    }

    .radio {
      &.section-title {
        margin: 1em 0;
        font-size: 1.17em;
        font-weight: bold;
      }
    }

    .unchecked-manual-comparables {
      .checkbox-container {
        margin-top: 1em;
        margin-left: 0;
        margin: 2em 0;
        label {
          font-weight: bold;
        }
      }
    }
  }

  .change-prop-container {
    width: 100%;
    text-align: left;

    .title {
      font-weight: bold;
      margin-right: 5px;
    }

    .stats-row {
      display: flex;
      align-items: center;
      .stat {
        margin-right: 1em;
      }
      margin-bottom: 1em;
    }

    .input-row-container {
      display: flex;
      align-items: center;
      padding-bottom: 1em;
      .input-group,
      .custom-select-container {
        margin-right: 10px;
      }
    }

    .input-group {
      position: relative;
      top: 5px;
      input {
        border-bottom: 1px solid var(--robins-egg-blue);
      }
    }
    .edit-prop-chars-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-left: 25px;
      .custom-select-container {
        width: 300px;
        margin-right: 40px;
      }
      .input-group {
        width: 75px;
        margin-right: 25px;
        font-size: 0.8em;
      }
    }
  }

  .warning-header {
    color: red;
  }
  .median-sale-price {
    margin-top: 2em;
    display: flex;
    .table-wrapper {
      flex: 1;
      &.two {
        margin: 0 2px;
      }
    }
    .tbody {
      max-height: 100%;
    }
  }
  #comp-modal {
    .form {
      font-size: 16px;
      line-height: 20px;
      padding: 1em;
      .comp-photos-modal {
        margin-top: 2em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .top-row {
          display: flex;
          justify-content: center;
          width: 100%;
          align-items: center;
          position: relative;
          .check {
            position: absolute;
            right: 0;
          }
        }
        .comp-photo-container {
          display: grid;
          grid-gap: 1em;
          grid-template-columns: 540px 540px;
          margin: 1em 0;
          justify-content: center;

          @media only screen and (min-width: 1890px) {
            grid-template-columns: 540px 540px 540px;
          }

          .comp-photo {
            width: 540px;
            border: 1px solid var(--gull-gray);
            display: flex;
            flex-direction: column;
            .photo-button-row {
              border: none;
            }
            .info-row {
              padding: 5px 10px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .icon-row {
                margin: 0;
                .icon {
                  width: 16px;
                  height: 16px;
                  cursor: default;
                  margin-right: 10px;
                }
              }
            }
            .description-container {
              flex: 1;
            }
            .detail-container {
              border-top: 1px solid var(--gull-gray);
              background: var(--aqua-spring);
              padding: 10px;
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              .address {
                font-size: 20px;
                line-height: 25px;
                margin-bottom: 10px;
              }
              .label-row {
                display: flex;
                .label {
                  font-weight: bold;
                  width: 130px;
                }
              }
              .toggle-button-container {
                margin: 1em 0;
              }
              .column-container {
                display: flex;
                justify-content: space-between;
                .column {
                  flex: 1;
                }
                .label {
                  width: 105px;
                }
              }
              .listing-export {
                display: flex;
                justify-content: center;
                margin-top: 1em;
              }
            }
          }
        }
      }
    }
  }
  #gallery-modal {
    .form {
      padding: 3em;
    }
    .gallery-container {
      display: grid;
      grid-gap: 1em;
      grid-template-columns: 360px 360px 360px;
      margin: auto;
      .gallery-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        height: 227px;
        overflow: hidden;
        .photo {
          width: 100%;
        }
      }
    }
  }
  .flip-analysis {
    margin-top: 2.5em;
    .table-container {
      display: flex;
    }
    .map-container {
      margin-top: 2em;
      height: 500px;
      width: 100%;
    }
    .map-toggle {
      margin-top: 10px;
      display: flex;
      .toggle-label-container {
        display: flex;
        margin-right: 1em;
        .toggle-label {
          width: 125px;
          margin-left: 5px;
        }
      }
    }
    .flip-tables {
      margin-top: 2em;
      h2 {
        padding-bottom: 5px;
        border-bottom: 2px solid var(--prussian-blue);
        margin: 1em 0;
      }
      .flip-table {
        .tbody {
          max-height: 250px;
        }
      }
    }
  }
  #historical-listing-modal {
    .form {
      max-width: 1580px;
      padding: 2.5em 60px 2em 60px;
      align-items: flex-start;
    }
    .top-row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .btn {
        margin-bottom: 1em;
      }
      margin-bottom: 1em;
    }
    .listing-info {
      display: flex;

      .listing-image {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 1em;
        .image-container {
          width: 550px;
          height: 360px;
        }
        .btn {
          margin-top: 1em;
        }
      }
      .info-container {
        display: flex;
        .label {
          font-weight: bold;
          font-size: 1.2em;
          line-height: 1.2em;
          &.space {
            margin-top: 10px;
          }
        }
      }
    }
    .listing-history {
      margin-top: 2em;
      width: 100%;
      .listing-history-table {
        margin-top: 10px;
        .tbody {
          max-height: 400px;
        }
        .property-display-container {
          margin-top: 5px;
          .property-display {
            display: flex;
            background: var(--aqua-spring);
            border: 1px solid var(--gull-gray);
            border-top: 0;
            padding: 1em;
            &:first-child {
              border-top: 1px solid var(--gull-gray);
            }
            .info-container {
              width: 300px;
              margin-right: 1em;
              .label {
                font-weight: bold;
                font-size: 1.2em;
                line-height: 1.2em;
                margin-top: 10px;
                &:first-child {
                  margin-top: 0em;
                }
              }
              &:last-child {
                flex: 1;
                margin: 0;
              }
            }
            .play-photo-container {
              width: 470px;
              margin-right: 1em;
              .photo-wrapper {
                height: 310px;
              }
            }
          }
        }
      }
    }
  }
  #zoom-photo {
    .form {
      padding: 3em;
      max-width: 1580px;

      .photo {
        width: 100%;
      }
    }
  }
  #mls-sheet {
    .form {
      padding: 0;
      #zoom-photo {
        .form {
          padding: 3em;
          max-width: 1580px;
        }
      }
      #gallery-modal {
        .form {
          padding: 2.5em 60px 2em 60px;
        }
      }
      .mls-container {
        padding: 50px;
        background: var(--aqua-spring);
      }
      .property-info {
        padding: 50px;
      }

      .image-container {
        width: 720px;
        height: 491px;
      }

      .row {
        margin-top: 10px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        &.spacer {
          margin-bottom: 2em;
        }
      }
      .column {
        flex: 1;
        margin-right: 20px;
      }

      .label-row {
        display: flex;
        .label {
          font-weight: bold;
        }
        .value {
          flex: 1;
        }
      }
      .play-photo-container {
        width: 720px;
        .photo-wrapper {
          height: 491px;
        }
      }
    }
  }
}
#video-modal {
  .form {
    background: var(--aqua-spring);
    height: 80vh;
    overflow: auto;
    h2 {
      margin: 1em 0;
      width: 100%;
    }
    .video-container {
      display: grid;
      grid-gap: 1em;
      grid-template-columns: 300px 300px 300px 300px;
      .video {
        background: #ffffff;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        .title {
          display: flex;
          align-items: center;
          height: 60px;
          padding: 0 1em;
        }
        .description-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 1;
          padding: 1em;
          .description {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 10px;
          }
          .video-stats {
            font-size: 12px;
            line-height: 15px;
            display: flex;
            justify-content: space-between;
          }
        }
        .video-file {
          width: 100%;
          height: 160px;
        }
      }
    }
  }
}

// Play button for images
.play-photo-container {
  .photo-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 354px;
    overflow: hidden;
    .photo {
      width: 100%;
      height: 100%;
    }
  }
  .photo-button-row {
    padding: 5px 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    border: 1px solid var(--gull-gray);
    &.empty {
      justify-content: flex-start;
    }
    .photo-count {
      position: absolute;
      left: 10px;
    }
    .photo-controls {
      display: flex;
      align-items: center;
      .play-pause {
        margin: 0 10px;
      }
      .previous,
      .play-pause,
      .right {
        cursor: pointer;
      }
    }
    .all-photos {
      position: absolute;
      right: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: var(--oracle);
      img {
        margin-right: 5px;
      }
    }
  }
}

.additional-documents {
  width: 100%;
  margin-top: 2em;
  h2 {
    margin-bottom: 1em;
  }
  .custom-file-uploader {
    margin-top: 1em;
    button {
      margin-bottom: 1em;
      margin-top: 0;
    }
  }
  .attachment-requirements {
    background-color: var(--light-gray);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      margin-bottom: 0;
    }
  }
  button[type='submit'] {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
