#login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;

  .btn {
    margin: 20px 0;
  }

  .description {
    color: var(--white);
    width: 400px;
    margin-right: 10%;
    h2 {
      margin-bottom: 10%;
    }
  }

  .login-form {
    .login-button {
      margin-top: 50px;
    }
    .btn-link {
      margin: 0;
    }
  }

  .register {
    form {
      width: 600px;
    }
  }

  .reset-password {
    form {
      width: 350px;
    }
  }

  .terms-of-use {
    text-align: center;
    margin-top: 1em;
  }
}
