@import 'login-form.scss';
@import 'reset-password.scss';

#login-page {
  background: url('/images/house.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;

  .description {
    color: var(--white);
    width: 400px;
    margin-right: 10%;
    h2 {
      margin-bottom: 10%;
    }
  }
}
