@font-face {
  font-family: 'Messina';
  src: url('/fonts/Messina-Regular.woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Messina';
  src: url('/fonts/Messina-RegularItalic.woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Messina';
  src: url('/fonts/Messina-Bold.woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Messina';
  src: url('/fonts/Messina-BoldItalic.woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Messina';
  src: url('/fonts/Messina-Light.woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Messina';
  src: url('/fonts/Messina-LightItalic.woff2');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Messina';
  src: url('/fonts/Messina-SemiBold.woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Messina';
  src: url('/fonts/Messina-SemiBoldItalic.woff2');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
