@import './font.scss';
@import './global.scss';
@import './layout.scss';

// Page styles
@import './pages/Home.scss';
@import './pages/Login.scss';
@import './pages/Profile.scss';

:root {
  --white: #ffffff;
  --prussian-blue: #002b49;
  --oracle: #387469;
  --red: #ef442e;
  --gray: #8b8886;
  --nebula: #cddcda;
  --light-gray: rgba(61, 57, 53, 0.05);
  --robins-egg: #09b9b3;
  --elephant: #0f3654;
  --cello: #1f445f;
  --san-juan: #2e516a;
  --box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
}
