@import './font.scss';
@import './global.scss';
@import './layout.scss';

// Page styles
@import './pages/login/index.scss';

:root {
  --white: #ffffff;
  --prussian-blue: #002b49;
  --oracle: #387469;
  --red: #ef442e;
}

.primary-background {
  background: var(--prussian-blue);
  color: var(--white);
}
