#footer {
  display: flex;
  align-items: center;
  padding: 2em 10%;
  justify-content: space-between;
  font-size: 0.6em;
  line-height: 0.75em;
  color: #668092;
  img {
    margin-right: 10%;
  }
}

.header {
  padding: 10px 1em;
}
